html
  head
    title=title

    style
      include ../../../style.css

  body
    include ../partials/header
  
  form(method='POST' name='' action='/person') 
    p 
      strong Add a Person: 
      input(type='text', placeholder='First and Last', name='actorName')
      br
      button(type='submit') Add Person
    
  form(method='POST' action='/movie') 
    p
      strong Add a Movie:
      br
      input(type='text', placeholder='Title', name='name', required) 
      br
      input(type='text', placeholder='Release Year (xxxx)', name='year', required) 
      br
      input(type='text', placeholder='Runtime (hh:mm:ss)', name='runtime', required) 
      br
      input(type='text', placeholder='Writers (separate by \',\')', name='writers') 
      br
      input(type='text', placeholder='Directors (separate by \',\')', name='directors') 
      br
      input(type='text', placeholder='Actors (separate by \',\')', name='actors') 
      br
      input(type='text', placeholder='Genre', name='genre', required) 
      br
      button(type='submit') Add Movie