html
  head
    title=title

    style
      include ../../../style.css

  body
    include ../partials/header

    h1 Welcome to the Movie Database! 
    p Click some links above to navigate around to some pages.