html
  head
    title=title
  body
    include ../partials/header

    form(method='POST')
      p
        input(type='text' placeholder='username' name='username' id='username')
        br  
        input(type='text' placeholder='password' name='password' id='password') 
        br
      button(type='submit') Log In
    
