html
  head
    title=title

    style
      include ../../../style.css
      
  body
    include ../partials/header
    ul(style='padding-top:30px')
      for movie in movies
        li
          a(href='/api/movies/' + movie.title) #{movie.title}