html
  head
    title=title

    style
      include ../../../style.css
      
  body
    include ../partials/header
    
    for person in people
      a(href='/api/people/' + person.name) #{person.name}
